/* Add CSS Styling */
p {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#num_2 {
    color: blue;
    font-size: 36px;
}

#num_4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

.num_3 {
    font-size: 24px;
}