body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 600px;
  background: #fff;
  padding: 10px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 24px;
  padding: 15px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
  margin-bottom: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 20px;
}